ktor:
    environment: "dev"
    application:
        modules:
            - com.florientmanfo.ApplicationKt.module
    deployment:
        port: 8080

    database:
        driver:
        connectionName: ""
        url:
        name:
        user:
        password:
        maximumPoolSize: 10
        generateMigrationFile: false
    jwt:
        secret:

    link:
        baseUrl:

    admin:
        email:
        password:
        name:
        afterAuthLink:

    email:
        address:
        name:

    firebase:
        bucket: