ktor:
    environment: "dev"
    application:
        modules:
            - com.florientmanfo.ApplicationKt.module
    deployment:
        port: 8080

    database:
        driver:
        connectionName: ""
        url:
        user:
        password:
        maximumPoolSize: 10
        generateMigrationFile: false
    jwt:
        secret:

    firebase:
        bucket: